.vscode/
*.out
*.exe
*.class
*.DS_Store
/OOP/lab/LAB/week2/Main/nbproject/private/
/OOP/LAB/week1/build/
/OOP/LAB/week1/nbproject/private/
/OOP/LAB/week2/Main/nbproject/private/
/OOP/netbeans/LAB2/LAB2/nbproject/private/
/OOP/netbeans/LAB2/LAB2/build/
/OOP/netbeans/LAB2/LAB4_4/nbproject/private/
/OOP/netbeans/LAB2/LAB4_4/build/
/OOP/netbeans/LAB2/EXEvent/nbproject/private/
/OOP/netbeans/LAB2/EXEvent/build/
/OOP/netbeans/LAB2/MouseEvent/nbproject/private/
/OOP/netbeans/LAB2/MouseEvent/build/
/OOP/netbeans/LAB2/Clock/nbproject/private/
/OOP/netbeans/LAB2/Clock/build/
/OOP/netbeans/LAB2/LAB6_5/nbproject/private/
/OOP/netbeans/Final/LAB6_5/nbproject/private/
/OOP/netbeans/Final/LAB6_5/build/
/OOP/netbeans/LAB11/Ball/nbproject/private/
/OOP/netbeans/LAB11/Ball/build/
/OOP/netbeans/LAB11/Car/nbproject/private/
/OOP/netbeans/LAB11/Car/build/
/OOP/netbeans/LAB11/Car4/nbproject/private/
/OOP/netbeans/LAB11/Car4/build/
/OOP/netbeans/Final/LAB6_6/nbproject/private/
/OOP/netbeans/Final/LAB6_6/build/
/OOP/netbeans/Final/LAB6_7/nbproject/private/
/OOP/netbeans/Final/LAB6_7/build/
/OOP/netbeans/Final/LAB6_8/nbproject/private/
/OOP/netbeans/Final/LAB7_6/nbproject/private/
/OOP/netbeans/Final/LAB7_6/build/
/OOP/netbeans/Final/LAB7_5/nbproject/private/
/OOP/netbeans/Final/LAB7_5/build/
/OOP/netbeans/Final/LAB8_3/nbproject/private/
/OOP/netbeans/Final/LAB8_4/nbproject/private/
/OOP/netbeans/Final/LAB8_5/nbproject/private/
/OOP/netbeans/Final/LAB8_6/nbproject/private/
/OOP/netbeans/Final/LAB8_7/nbproject/private/
/OOP/netbeans/Final/LAB8_3/build/
/OOP/netbeans/Final/LAB8_4/build/
/OOP/netbeans/Final/LAB8_5/build/
/OOP/netbeans/Final/LAB8_6/build/
/OOP/netbeans/Final/LAB8_7/build/
/OOP/netbeans/Final/LAB6_8/build/
