.vscode/
*.out
*.exe
*.class
*.DS_Store
/OOP/lab/LAB/week2/Main/nbproject/private/
/OOP/LAB/week1/build/
/OOP/LAB/week1/nbproject/private/
/OOP/LAB/week2/Main/nbproject/private/
/OOP/netbeans/LAB2/LAB2/nbproject/private/
/OOP/netbeans/LAB2/LAB2/build/
